# PostgreSQL Configuration
POSTGRES_DB=ecommerce_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mypassword123
POSTGRES_PORT=5432

# Container Configuration
CONTAINER_NAME=my_ecommerce_db
POSTGRES_VERSION=16.1

# Volume
DB_VOLUME=ecommerce_data